<div id="main">
    <div class="sidebar">
        <div class="sidebar-title"></div>
        <ul class="sidebar-list">
            <li class="sidebar-item" (click)="show_grid()">
                <div class="material-icons" id="sidebar-item-icon">grid_on</div>
                <div class="sidebar-item-text" [innerHTML]="this.text_grid"></div>
            </li>
            <li class="sidebar-item" (click)="this.clear_screen()">
                <div class="material-icons" id="sidebar-item-icon">delete</div>
                <div class="sidebar-item-text">Clear screen</div>
            </li>
            <li class="sidebar-item" id="sidebar-item-delete_node" (click)="this.delete_node()">
                <div class="material-icons" id="sidebar-item-icon-delete_node">clear</div>
                <div class="sidebar-item-text" [innerHTML]="this.text_delete_node"></div>
            </li>
        </ul>
    </div>
    <div id="view">
        <div id="container"></div>
        <canvas id="canvas-background"></canvas>
        <canvas id="canvas-foreground"></canvas>
    </div>
</div>